/* CONFIGURAÇÕES GERAIS DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px yellowgreen; */
}
a,
p,
label,
input,
td {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}
body {
  font-size: 16px;
}
/* FIM DAS CONFIGURAÇÕES GERAIS DA PÁGINA */
#tp_box_input {
  width: auto;
  height: 85px;
  background: red;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tp_box_input .tp_carrinho-button {
  display: none;
}
#tp_box_input .tp_input_name {
  width: 95%;
  height: 65px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 0px 60px 0px rgba(44, 11, 230, 0.75);
  margin: 0% 5%;
}
#tp_box_input .tp_input_name input {
  border: none;
  width: 100%;
  max-width: 900px;
  height: 40px;
  border-radius: 3px;
  margin: 0% 10%;
  font-size: 20px;
  padding: 0% 2%;
}
#tp_box_input .tp_input_name input:hover {
  border: solid 3px #dd0225;
}
#tp_container {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: row;
}
#tp_container .tp_wrapc {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: calc(100vh - 85px);
  overflow-x: auto;
  height: calc(100vh - 85px);
  overflow-x: auto;
  width: 100vw;
}
#tp_container .tp_wrapc_box {
  width: 237px;
  height: 250px;
  margin: 10px;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
}
#tp_container .tp_wrapc_box img {
  width: 130px;
  height: 130px;
  border: black solid 2px;
  border-radius: 64px;
}
#tp_container .tp_wrapc_box img:hover {
  background: rgba(255, 0, 0, 0.829);
}
#tp_container .tp_wrapc_box h1,
h4 {
  font-size: 18px;
  padding: 2px;
}
#tp_container .tp_wrapc_box button {
  width: 190px;
  height: 60px;
  border: black solid 2px;
  border-radius: 10px;
  font-size: 18px;
}
#tp_container .tp_wrapc_box button:hover {
  background: black;
  color: white;
  cursor: pointer;
}
#tp_container aside.tp_wrapd {
  width: 28%;
  height: calc(100vh - 85px);
  border-left: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tp_container aside.tp_wrapd .tp_total_tag {
  width: 204px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
#tp_container aside.tp_wrapd .tp_total_tag h3:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
#tp_container aside.tp_wrapd h1 {
  border-bottom: solid black 1px;
  width: 90%;

  padding: 7px;
}
#tp_container aside.tp_wrapd .tp_Itens {
  width: 90%;
  height: calc(100vh - 264px);
  border-bottom: solid black 1px;
}
#tp_container aside.tp_wrapd .tp_Itens table {
  width: 99%;
}
#tp_container aside.tp_wrapd .tp_Itens table tr {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  border-bottom: solid 1px black;
}
#tp_container aside.tp_wrapd .tp_Itens table tr td {
  width: 69px;
}
#tp_container aside.tp_wrapd h2 {
  border-bottom: solid black 1px;
  width: 90%;
}
#tp_container aside.tp_wrapd h3 {
  border-bottom: solid black 1px;
  width: 90%;
}
#tp_container aside.tp_wrapd .tp_total_button {
  width: 150px;
  height: 50px;
  border: solid 1px black;
  background: rgba(0, 0, 0, 0.932);
  color: white;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 31px;
  cursor: pointer;
}
/* RESPONSIVO */
@media (max-width: 769px) {
  #tp_box_input .tp_carrinho-button {
    display: block;
    width: 77px;
    height: 56px;
    font-size: 20px;
    border: none;
    margin: 0% 5%;
    border-radius: 44px;
  }
  #tp_container aside.tp_wrapd {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 85px);
    display: none;
  }
  #tp_container aside.tp_wrapd.active {
    display: block;
  }
  #tp_container aside.tp_wrapd .tp_Itens {
    width: 100%;
    height: calc(100vh - 264px);
    border-bottom: solid black 1px;
  }
  #tp_container aside.tp_wrapd h1 {
    border-bottom: solid black 1px;
    width: 100%;
    padding: 7px;
  }
  #tp_container aside.tp_wrapd .tp_total_button {
    width: 150px;
    height: 50px;
    border: solid 1px black;
    background: rgba(0, 0, 0, 0.932);
    color: white;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 31px;
    margin-left: 35vw;
  }
  #tp_container aside.tp_wrapd .tp_total_tag {
    width: 99vw;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }
}
